<h1>16-day Forecast for {{forecastData.city.name}} {{forecastData.city.country}}</h1>
<dl ng-repeat="weather in forecastData.list" class="weather-report">
    <dt>Forecast for {{weather.dt*1000 | date:"MMM dd, yyyy"}}</dt>
    <dd>{{weather.weather[0].main}}</dd>
    <dd>{{weather.weather[0].description}}</dd>
    <dt>Temperature</dt>
    <dd>Min: {{weather.temp.min}} &deg;F Max: {{weather.temp.max}} &deg;F</dd>
</dl>

<p><a ng-href="/#/current/{{cityID}}" class="btn btn-lg btn-primary">View Current Weather</a></p>